img { border: none }
body { margin: 0; padding: 0; font-family: "Ubuntu", sans-serif; }
.centered { width: 80%; display: block; margin: 0 auto; }

/* styles for the navigation bar at the top */
.title { float: left; font-weight: bold; margin: 0 8px; }
.header { background-color: #a9de43; height: 36px; padding: 0; margin-top: 1em; }
.header img { float: left; }
.header .links { float: right; margin-right: -1px;}
.header img { margin: 2px; width: 32px; height: 32px }
.header div { margin: 9px 5px 0 0; }
.header a { color: black; text-decoration: none; }
#ajax_loading { visibility: hidden; float: right; margin-top: 10px; width: 9px; height: 16px; }
.body { background-color: #eee; clear: both; padding: 5px 0;}
.pane {  margin: 0 10px; }
.hide, .template, .novote a.upvote { display: none; }

/* disable upvote buttons when the script does not think they are allowed. */
.novote a.upvote { display: none; }

#notifications { text-align: center; position: fixed; bottom: -50px; margin: 0 auto; width: 80%; border: 3px double red; }